<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"/>
    {% load staticfiles %}
	<title></title>
	<style type="text/css">
		
			nav{
				border:10px solid blue;
				height: 50px;
				background: #d9eaf2;
			}

			nav ul{
				padding-top: 0px;
				padding-bottom: 0px;
			}

			nav li{
				float: left;
				list-style:none;
				margin-left:80px;
			}
			nav li a{
				color: green;
				font-size: 16px
				font-weight: bold;
				font-family: sans-serif;
			}
			.menu{
				width: 950px;
				margin-left: auto;
				margin-right: auto;
				border: 10px solid orange;
				border-radius: 30px;
				}
				.text{
					font-style: italic;
					color:#D49C19; 
				}
				body{
	background-image:url({% static "images/78181.jpg"%});
}
			footer{
				background: #DCE8F7;
				min-height:100px;
				padding-bottom:1px;
			}
			.footer-disp a{
				display: block;
			}
		</style>

	</head>


	<body>
		<img src='{%static "images/news.png"%}' style="width: 55px; height: 55px;float: left; display: block; padding-left: 630px;">
		<h1 style="float:center; text-align:center; color:red; padding-right: 630px">НОВОСТИ</h1>

		<hr/>
		<nav class="menu">
			<ul>
				<li><a href="index.html">Главная</a></li>
				<li><a href="page2">Главные новости</a></li>
				<li><a href=#>Новости мира</a></li>
				<li><a href=#>Новости Кыргызстана</a></li>
			</ul>
		</nav>
		<h1 style="text-align:center; color:#9c3806;">Web-site is not my, becouse i had remove first work</h1>
		<div>
                <img src='{% static "images/logotip.jpg"%}' style="width: 460px; height: 250px;float: left; display: block;">
                <p class="text">
        {% block content %}
06:59 - Огнеборцы начали разбирать завалы на сгоревшем складе в Москве<br/>
06:47 - В Казахстане водитель BMW насмерть сбил четверых пешеходов<br/>
06:35 - Новые подробности развода Джолли и Питта: Брэд поругался с Мэддоксом<br/>
06:23 - Власти США ввели комендантский час в городе Шарлотт из-за волнений<br/>
06:11 - Поиски пропавших при тушении пожара на московском складе огнеборцев продолжаются<br/>
05:58 - В США рабочий одной из фабрик расстрелял своих коллег<br/>
05:46 - Крупное землетрясение зафиксировано в Японии<br/>
05:34 - Сгоревший московский склад не был оборудован системами пожаротушения<br/>
05:22 - Япония готова претендовать лишь на два из четырех Курильских островов<br/>
05:11 - Чижов: миграционный диалог России и ЕС "еще теплится"<br/>
04:58 - США: в наступлении сирийских войск в Алеппо виновата Россия<br/>
04:46 - Власти КНДР пригрозили Южной Корее ядерным ударом<br/>
04:34 - Четверо детей из приемной семьи сгорели в Омской области<br/>
03:29 - Чижов: санкции ЕС в отношении России не вечные<br/>
04:24 Экс-премьер Франции осудил действия Запада в отношении РФ<br/>
04:12 Американская федерация борьбы выразила недовольство итогами ОИ-2016<br/>
04:00 Главный инфекционист США рассказал об опасности вируса Зика<br/>
03:48 Машинист поезда, врезавшегося в платформу в США, выписан из больницы<br/>
03:39 ФСБ будет наказывать чиновников за использование WhatsApp<br/>
03:29 Венесуэла приветствует соглашение ОПЕК по нефти<br/>
03:17 В США пассажирский самолет вернулся в аэропорт из-за задымления<br/>
		</p>
       {% endblock %}
        </div>

<hr/>

	</body>
</html>