{% extends "base.html" %}
{% block content %}
               It's another page!
<br>15:20 Путин поддержал ужесточение наказания для авиадебоширов
<br>15:12 СМИ: сирийская армия восстановила контроль над лагерем Хандарат под Алеппо
<br>15:10 Ролудгин сыграл журналистам на знаменитой виолончели работы Страдивари
<br>15:01 Организатор фотовыставки: Стерджес «не хочет иметь ничего общего с Россией»
<br>14:45 По факту стрельбы по поезду московского метро завели уголовное дело
<br>14:26 Власти Москвы анонсировали расширение зоны платной парковки
<br>14:12 Мизулина предложила провести круглый стол по бэби-боксам в Госдуме
<br>14:12 Медведев подарил главе Минтранса на день рождения «оружие должностного лица»
<br>14:05 МЧС при необходимости готово эвакуировать под землю всех жителей Москвы
<br>13:53 Два взрыва прогремели в центре Киева
<br>13:42 Россия вновь выразила готовность возобновить сотрудничество с США по усыновлению
<br>13:30 Минэкономики РФ предложило снизить минимальную стоимость бутылки водки на 54 рубля
<br>13:21 Полиция начала проверку инцидента с вандализмом на фотовыставке Сахаровского центра
<br>13:01 Во время матча «Ростов»-ПСВ на поле бросили банан
<br>12:46 Началась укладка нового участка железной дороги в обход Украины
<br>12:31 Глава ДНР Захарченко: ополченцы не сбивали MH17, ответственность несет Киев
<br>12:23 Захарова: заявления Госдепа об угрозах России похожи на команду «фас»
<br>12:07 ЦБ снизил курс евро до 70,88 рубля
<br>12:01 Рябков: Россия видит в угрозах США по Сирии поддержку террористов
<br>11:49 Рябков: заявления США об угрозе ИГ России — эмоциональный срыв и низость
<br>11:30 На Кировском заводе в Петербурге вспыхнул пожар
<br>11:29 Автобус врезался в здание в центре Москвы: у водителя инсульт
<br>11:22 СМИ: сыгравшая в фильме «Подкидыш» актриса Синицына попала в реанимацию
<br>11:11 ФАС заявила о стремительном росте присутствия государства в экономике
<br>10:40 Со следующего года коммунальщики обяжут россиян платить за вывоз мусора
<br>10:18 Ростом индексов открылся рынок акций РФ в четверг
<br>10:16 Украина "оседлала" очередной антирейтинг
<br>10:14 Курс доллара вырос на девять копеек утром в четверг
{% endblock %}